extends base.pug

block scripts
  script(src='/static/index.js')



block style
     style 
        include style2.css 

block content 
  nav#navbar2
         ul
             li #[a(href="/") HOME] 
             li #[a(href="/") ABOUT ]
             li #[a(href="/") DONATE ]
             li #[a(href="/") CONTACT US] 
             li #[a(href="/") HELP ]


  
  section#section1.sec
    .div4 HELP!
    img(src="/static/poor4.avif", alt="")


  section#section2
    h1.br2 ABOUT US
    .div2 Background & IntroductionNeedy Poor People Foundation (NPPF) – is registered under the Security Exchange Commission Of Pakistan Companies Act 2017 .It is a multi-disciplinary, development oreineted not for profit organization for helping poor and needy people in improving their livelihoods. NPPF affirms to be committed to well being of masses through promoting integrated development in remote and impoverished pockets of Pakistan in general and Khyber Pukhtoonkhwa (KPK) and Sindh in particular.|Over the last one year NPPF is working as a civil society organization supporting marginalized communities in their livelihood management building their capacity to earn their livelihoods and advocating the participatory management of natural resources as a mean to livelihood security. It worked with a spirit to serve humanity with out any discrimination on the basis of gender, caste and creed. While committed to the well being of masses NPPF has the brief history of working with all s

    .div3 Established in 2023, RK Foundation is an Indian development organization, impacting the lives of over indian children and their families every year. We have more than 400 projects on education, healthcare, livelihood, and women empowerment in over 2,000 remote villages and urban slums across 25 states of india Rk Foundation works as a catalyst in the cycle of change, complementing and supplementing government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and partner with like-minded institutions and individuals to implement high-impact programmes that enable access, enhance quality and help bring long term behavioural change at the grassroots.





    
  footer#footer
      h4 ABOUT US
      h4 OUR WORK
      h4 CAMPAGINS
      h4 GET INVOLVED
      h4 RESOURCE CENTRE
      div.container
        |Established in 2023, RK Foundation is an Indian development organization, impacting the lives of over indian children and their families every year. We have more than 400 projects on education, healthcare, livelihood, and women empowerment in over 2,000 remote villages and urban slums across 25 states of india <br> Rk Foundation works as a catalyst in the cycle of change, complementing and supplementing government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and partner with like-minded institutions and individuals to implement high-impact programmes that enable access, enhance quality and help bring long term behavioural change at the grassroots.
  footer#footer2
       h4 Copyright 2023 RKFOUNDATION.com | All Right Reserved 
 




