extends base.pug

block scripts
  script(src='/static/index.js')



block style
     style 
        include style1.css

block content 
  nav#navbar2
         ul
             li #[a(href="/") HOME] 
             li #[a(href="/") ABOUT ]
             li #[a(href="/") DONATE ]
             li #[a(href="/") CONTACT US] 
             li #[a(href="/") HELP ]

  section#section1.sec
    h1 Helpline:1098 


  section#section9
    h1 CONTACT US
    <form action="/contact", method="post" >
    <input type="text", class="myInput", name="name", placeholder="Enter Your Name">
    <input type="text", class="myInput", name="age", placeholder="Enter Your Age">
    <input type="Email", class="myInput", name="Email", placeholder="Enter Your E-mail adress">
    <input type="number", class="myInput", name="Phoneno", placeholder="Enter Your Phone no">
    <textarea  type ="text" name="Address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
    <button id="btn">Submit </button>
     


  footer#footer
      h4 ABOUT US
      h4 OUR WORK
      h4 CAMPAGINS
      h4 GET INVOLVED
      h4 RESOURCE CENTRE
      div.container
        |Established in 2023, RK Foundation is an Indian development organization, impacting the lives of over indian children and their families every year. We have more than 400 projects on education, healthcare, livelihood, and women empowerment in over 2,000 remote villages and urban slums across 25 states of india <br> Rk Foundation works as a catalyst in the cycle of change, complementing and supplementing government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and partner with like-minded institutions and individuals to implement high-impact programmes that enable access, enhance quality and help bring long term behavioural change at the grassroots.
  footer#footer2
       h4 Copyright 2023 RKFOUNDATION.com | All Right Reserved 
 
