extends base.pug

block scripts
  script(src='/static/index.js')



block style
     style 
        include style3.css 

block content 
  nav#navbar2
         ul
             li #[a(href="/") HOME] 
             li #[a(href="/") ABOUT ]
             li #[a(href="/") DONATE ]
             li #[a(href="/") CONTACT US] 
             li #[a(href="/") HELP ]
  section#section1.sec
    h1 DONATE FOR POOR CHILD
    .div3 Every child deserves access to quality education. It is an essential component in a child’s life as it equips them with the skill and knowledge required to carve a better future. It helps to eradicate various social evils that prevail in a society such as poverty, gender discrimination, racism, and child labour.Bal Raksha Bharat works relentlessly to help educate and empower the marginalised children of India. Our work revolves around ensuring that children in need have improved access to equitable, safe and quality learning environment in our intervention areas as guided by the United Nations Convention on the Rights of the Child and Sustainable Developmental Goals. We work across 14 states with children, teachers, caregivers, parents, communities, and government representatives.Last year, in 2021, we reached over 1.30 lakh children through our education programmes. We work in consultation and collaboration with government authorities at various levels, ensuring that children benefit from government’s welfare schemes on education and skill building.

  section#section2
    h1 DONATE 
    img(src="/static/poor5.png", alt="")


      
  footer#footer
      h4 ABOUT US
      h4 OUR WORK
      h4 CAMPAGINS
      h4 GET INVOLVED
      h4 RESOURCE CENTRE
      div.container
        |Established in 2023, RK Foundation is an Indian development organization, impacting the lives of over indian children and their families every year. We have more than 400 projects on education, healthcare, livelihood, and women empowerment in over 2,000 remote villages and urban slums across 25 states of india <br> Rk Foundation works as a catalyst in the cycle of change, complementing and supplementing government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and partner with like-minded institutions and individuals to implement high-impact programmes that enable access, enhance quality and help bring long term behavioural change at the grassroots.
  footer#footer2
      h4 Copyright 2023 RKFOUNDATION.com | All Right Reserved 