doctype html
html
  head
    title RK FOUNDATION
    style 
        include style.css
  body
    nav#navbar
         ul
             li #[a(href="/") HOME] 
             li #[a(href="/") ABOUT ]
             li #[a(href="/") DONATE ]
             li #[a(href="/") CONTACT US] 
             li #[a(href="/") HELP ]
            

    section#section1.sec
       
        h1 Helpline:1098

    section#section2 
       h1.br RK FOUNDATION
       .div Established in 2023, RK Foundation is an Indian development organization, impacting the lives of over indian children and their families every year. We have more than 400 projects on education, healthcare, livelihood, and women empowerment in over 2,000 remote villages and urban slums across 25 states of india <br> Rk Foundation works as a catalyst in the cycle of change, complementing and supplementing government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and partner with like-minded institutions and individuals to implement high-impact programmes that enable access, enhance quality and help bring long term behavioural change at the grassroots.

    section#section3
      h1.br2 OUR IMPACT 
      div.card
       h1 15+
       h4 LAC
       .card1 children and their families are impacted every year
      div.card
       h1 2000+
       h4 VILLAGES
       .card1 and slums are reached out to across the country
      div.card
       h1 400+
       h4 PROJECTS
       .card1 focused on education, healthcare, and women empowerment
      div.card
       h1 25+
       h4 STATES
       .card1 are reached including the remotest area

    section#section4
      h1 OUR PROGRAMMES
      div.card2#card2
       h1 EDUCATION
       .hello Education, nutrition <br>and holistic development <br>of children
      div.card2#card3
       h1 HEALTHCARE
       .hello Taking healthcare <br> services to doorsteps of hard <br>to reach communities
      div.card2#card4
       h1 WOMEN EMPOWERMENT
       .hello Empowering adolescent <br>girls and women through <br>community engagement
      div.card2#card5
       h1 LIVELIHOOD
       .hello Skill training and <br>placement support for <br>underprivileged youth

      
      
      

    section#section5
      h1 SUPPORT A CAUSE
      div.cause#cause2
       h1 
      div.cause#cause3 
       h1 
      div.cause#cause4
       h1 
      div.cause#cause5
       h1 
      
    
    section#section6 
      div.section8#section8
         div.section6
          h1 Lorem ipsum <br>dolor sit amet consectetur<br> adipisicing elit.
         div.section6
          h1 Lorem ipsum <br>dolor sit amet consectetur<br> adipisicing elit.
         div.section6
          h1 Lorem ipsum <br>dolor sit amet consectetur<br> adipisicing elit.
       


    section#section7
        h1 OUR SPONSOR 
        div#sponsors
          <img src="/static/microsoft.webp", class="spimage">
          <img src="/static/logo1.png", class="spimage">
          <img src="/static/logo3.png", class="spimage">
          <img src="/static/in.png", class="spimage">

footer#footer
    h4 ABOUT US
    h4 OUR WORK
    h4 CAMPAGINS
    h4 GET INVOLVED
    h4 RESOURCE CENTRE
    div.container
      |Established in 2023, RK Foundation is an Indian development organization, impacting the lives of over indian children and their families every year. We have more than 400 projects on education, healthcare, livelihood, and women empowerment in over 2,000 remote villages and urban slums across 25 states of india <br> Rk Foundation works as a catalyst in the cycle of change, complementing and supplementing government efforts (view details) to achieve the Sustainable Development Goals. We sensitize and partner with like-minded institutions and individuals to implement high-impact programmes that enable access, enhance quality and help bring long term behavioural change at the grassroots.
footer#footer2
     h4 Copyright 2023 RKFOUNDATION.com | All Right Reserved 
 
script
include  ../static/index.js