@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=PT+Serif:wght@700&family=Poppins:wght@200&family=REM:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Kanit:wght@500&family=PT+Serif:wght@700&family=Poppins:wght@200&family=REM:wght@100&family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
#navbar2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
   

}
#navbar2{
    background-color: rgb(31, 4, 56);
    padding-top: 0%;
    padding: 30px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 10px 5px 10px black;
    
    
    
 
}
#navbar2 li{
    list-style: none;
  
}
#navbar2 li a{
    text-decoration: none;
    padding: 60px;
    font-size: 25px;
    color: white;
  
    
    

}
#navbar2 li a:hover{
    color: rgb(1, 1, 17);
}



#section1 {
   
    height: 700px;
    opacity: 0.9;
    background: center/ cover no-repeat url("/static/poor2.avif");
    z-index: -1;
    filter: drop-shadow(15px 15px 25px #555);
    width: 100%;
    box-shadow: 10px 10px 20px black;
    box-shadow: inset 400px 10px 100000000000px  black;
    

    
 }
 #section1 h1{
    display: flex;
    justify-content: center;
   align-items: center;
    padding: 13%;
    margin-right: 60%;
     color: white;
    font-size: 90px;
    font-family: cursive
 }


 #section9{
    height: 1000px;
    border: 2px solid black;
 }

 #footer{
    height: 400px;
    background-color: rgb(112, 107, 107);

}
#footer h4{
   
    display: inline-block;
    padding: 50px;
  
    margin-left: 90px;
    color: black;
    

    
}
#footer h4:hover{
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin-left: 285px;
    padding: 30px;
    font-size: 15px;
}
#footer2{
    background-color: black;
   
    border: 2px solid black;
    height: 70px;
}
#footer2 h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 12px;
}
#section9 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 50px;
    font-weight: 1000;
}

#section9{
    background-color:rgb(201, 196, 204);
}
.myInput{
 display: block;
 width: 50%;
 padding: 20px;
 margin: 30px;
 margin-left: 470px;
 border: 2px solid black;
 border-radius: 10px;
 font-size: 20px;
 font-family: cursive;
 font: bold;
 
}
#address{
    display: flex;
    width: 50%;
  padding: 10px;
    margin-left: 470px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-family: cursive;
}
 
 #btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 130px;
    margin: 40px;
    margin-left: 890px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid black;
    background-color: rgb(31, 4, 56);
    color: white;
}


#btn:hover{
    background-color:rgb(118, 118, 247);
}